{% extends 'base.html' %}

{% block content %}
<h2>Hi {{g.user.username}}</h2>
<div id="random-home">
</div>
<h3>Filter for an Activity</h3>
<form method = "POST" id = "filter-form">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}
 
        {{field(placeholder = field.label.text, id=field.label.text)}}
    
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    {% endfor %}
    <button id="filter-btn">Filter</button>
</form>


<div id="filter-results">
</div>


<h3>Activities in Progress:</h3>
<ul>
    {% for result in saved_results %}
    <li>
        {{result.activity}} 
        <a href="/activity/{{result.key}}/completed">Completed</a>
        <a href="/activity/{{result.key}}/remove">Remove</a></li>
    {% endfor %}
</ul>

<h3>Completed Activities:</h3>
<ul>
    {% for result in completed_results %}
    <li>
        {{result.activity}}
        <a href="/activity/{{result.key}}/remove">Remove</a></li>
    {% endfor %}
</ul>
<div id = "chart-area">
    <canvas id = "line-chart"></canvas>
</div>

{% endblock %}